<%- include("partials/header.ejs") %>

<main>
  <h1>About Us</h1>
  <p>Welcome to My Blog! This is a simple blog website where you can write, edit, and delete posts.</p>
</main>

<%- include("partials/footer.ejs") %>
