/* General Page Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 5px;
}

h1 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Navbar Styles */
nav ul {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: rgb(122, 50, 50);
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #a30000;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

footer p {
  margin: 0;
}

textarea {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
@media (max-width: 600px) {
    textarea {
        width: 95%; /* Adjust width to 95% on mobile for some margin */
        min-width: 95%; /* Ensure minimum width on mobile is also 95% */
    }
}